{set:$seller_id = $this->seller['seller_id']}
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">促销活动列表</h3>
		<ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/category_edit}';" value="添加分类" /></li>
		</ul>
	</header>

	<form action="{url:/goods/category_sort}" method="post" name="category_list">
<div class="content">
	<table id="list_table" class="tablesorter" cellspacing="0">
		<colgroup>
			<col width="100px" />
			<col width="300px" />
			<col width="100px" />
			<col width="220px" />
		</colgroup>

		<thead>
			<tr>
				<th>排序</th>
				<th>分类名称</th>
				<th>首页显示</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{foreach:items=$category item=$item}
			<tr id="{$item['id']}" parent={$item['parent_id']}>
				<td><input class="tiny" id="s{$item['id']}" size="2" type="text" onblur="toSort({$item['id']});" value="{$item['sort']}" /></td>
				<td><img style='margin-left:{echo:$item['floor']*20}px' class="operator" src="{skin:images/main/close.gif}" onclick="displayData(this);" alt="关闭" />{$item['name']}</td>
				<td>{if:$item['visibility']=='1'}<span class="green">是</span>{else:}<span class="brown">否</span>{/if}</td>
				<td>
					<a href="{url:/seller/category_edit/cid/$item[id]}"><img class="operator" src="{skin:images/main/icon_edit.gif}" alt="修改" title="修改" /></a>
					<a href="javascript:void(0)" onclick="delModel({link:'{url:/seller/category_del/cid/$item[id]/seller_id/$seller_id}'})"><img class="operator" src="{skin:images/main/icon_del.gif}" alt="删除" title="删除" /></a>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
</form>
</article>

<script language="javascript">
//折叠展示
function displayData(_self)
{
	if(_self.alt == "关闭")
	{
		jqshow($(_self).parent().parent().attr('id'), 'hide');
		$(_self).attr("src", "{skin:images/main/open.gif}");
		_self.alt = '打开';
	}
	else
	{
		jqshow($(_self).parent().parent().attr('id'), 'show');
		$(_self).attr("src", "{skin:images/main/close.gif}");
		_self.alt = '关闭';
	}
}

function jqshow(id,isshow) {
	var obj = $("#list_table tr[parent='"+id+"']");
	if (obj.length>0)
	{
		obj.each(function(i) {
			jqshow($(this).attr('id'), isshow);
		});
		if (isshow=='hide')
		{
			obj.hide();
		}
		else
		{
			obj.show();
		}
	}
}
//排序
function toSort(id)
{
	if(id!='')
	{
		var va = $('#s'+id).val();
		var part = /^\d+$/i;
		if(va!='' && va!=undefined && part.test(va))
		{
			$.get("{url:/goods/category_sort}",{'id':id,'sort':va}, function(data)
			{
				if(data=='1')
				{
					alert('修改商品分类排序成功!');
				}else
				{
					alert('修改商品分类排序错误!');
				}
			});
		}
	}
}
</script>
