{set:$countData = statistics::sellerAmount($this->seller['seller_id']);}
{js:chart}
{query: name=seller where=id eq $this->seller['seller_id']}{/query}
{if:!isset($item)}
{set:IError::show(403,'信息不存在')}
{/if}

<article class="module width_full">
	<header><h3>店铺信息</h3></header>
	<div class="module_content">
		<table class="tablesorter" cellspacing="0">
			<thead></thead>
			<tbody>
				<tr>
					<td>LOGO:<img  style="width:60px;height:30px;" src="{webroot:$item['logo']}"></td>
					<td>店铺名称：{$item['shop_name']}</td>
					<td>保证金：
						{if:$item['cash']}  
							{$item['cash']} 
							<span style="color:red">({$item['cash_time']})</span>
						{else:}
							<span style="color:red">请尽快缴纳</span>
						{/if}
					</td>
					<td>信用评分：{echo:statistics::gradeSeller($this->seller['seller_id'])} 分</td>
				</tr>
				<tr>
					<td>
						商品总数量：<a href="{url:/seller/goods_list}">{echo:statistics::goodsCount($this->seller['seller_id'])}</a></td>
					<td>出售中商品：<a href="{url:/seller/goods_list/search%5Bis_del%5D/0}">
						{echo:statistics::goodsCount($this->seller['seller_id'],0)}</a>
					</td>
					<td>出售中商品存数：
						{echo:statistics::goodStoreNums($this->seller['seller_id'])}</td>
					<td>总销售量：{echo:statistics::sellCountSeller($this->seller['seller_id'])} 件</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>

<article class="module width_full">
	<header><h3>概要信息</h3></header>
	<div class="module_content">
		<table class="tablesorter" cellspacing="0">
			<thead></thead>
			<tbody>
				<tr>
					<td>交易金额：{echo:statistics::sellerAmount($this->seller['seller_id'],-1)} </td>
					<td>订单数量：<a href="{url:/seller/order_list}">{echo:statistics::orderNums($this->seller['seller_id'])} </a></td>
					<td>待回复咨询：<a href="{url:/seller/refer_list}">{echo:statistics::referWaitCount($this->seller['seller_id'])} 条</a></td>
					<td>商品评论数：<a href="{url:/seller/comment_list}">{echo:statistics::commentCount($this->seller['seller_id'])} 条</a></td>
					<td>退款申请：<a href="{url:/seller/refundment_list}">{echo:statistics::refundsCount($this->seller['seller_id'])} 条</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</article>

<article class="module width_full">
	<header><h3>销售额统计</h3></header>
	<div class="module_content">
		<div id="myChart" style="width:100%;min-height:320px;"></div>
	</div>
</article>

<script type='text/javascript'>
//图表生成
$(function()
{
	//图标模板
	userHighChart = $('#myChart').highcharts(
	{
		title:
		{
			text:'销售额统计(近一个月)'
		},
		xAxis:
		{
			title:
			{
				text:'时间'
			},
			categories:{echo:JSON::encode(array_keys($countData))},
		},
		yAxis:
		{
			title:
			{
				text:'销售额(元)'
			},
		},
		series:
		[
			{
				name:'销售额',
				data:{echo:JSON::encode(array_values($countData))}
			}
		],
		tooltip:
		{
			valueSuffix:'元'
		}
	});
})
</script>