{js:artTemplate}
{js:areaSelect}
<article class="module width_full">
	<header>
		<h3>编辑店铺</h3>
	</header>

	<form action="{url:/seller/shop_add}" method="post" name="sellerForm" enctype='multipart/form-data'>
		<div class="module_content">
			 
			<fieldset>
				<label>店铺名称：</label>
				<input class="normal"  name="shop_name" type="text" value="" pattern="required" />
			</fieldset>

			<fieldset>
				<div>
					<label>banner：</label>
					<a class="blue" href="javascript:select_ico();">添加幻灯片</a>
				</div>
				<div id="thumbnails">	
					{foreach:items = $this->sellerRow['slide']}
						<span class="pic">
							<input type="hidden" name="slide_name[]" value="{$item['name']}" />
							<input type="hidden" name="slide_url[]" value="{$item['url']}" />
							<input type="hidden" name="slide_img[]" value="{$item['img']}" />
							<img  name="picThumb" onclick="defaultImage(this);" style="margin:5px; opacity:1;width:100px;height:100px" src="{webroot:$item['img']}" alt="{webroot:$item['img']}">
					 		<P>
					 			<a class="orange" href="javascript:void(0)" onclick="$(this).parents('.pic').insertBefore($(this).parents('.pic').prev());"><img src="/views/sysdefault/skin/green/images/admin/arrow_left.png" title="左移动" alt="左移动"></a>
				 				<a class="orange" href="javascript:void(0)" onclick="$(this).parents('.pic').remove();"><img src="/views/sysdefault/skin/green/images/admin/sign_cacel.png" title="删除" alt="删除"></a>
				 				<a class="orange" href="javascript:void(0)" onclick="$(this).parents('.pic').insertAfter($(this).parents('.pic').next());"><img src="/views/sysdefault/skin/green/images/admin/arrow_right.png" title="右移动" alt="右移动"></a>
				 			</P>
				 		</span>
				 
				 	{/foreach}
		 	 	</diV>
			</fieldset>

			<fieldset>
				<label>店铺二级域名：</label>
				<input class="normal"  name="shop_domain" type="text" value="" pattern="required" />
			</fieldset>

			<fieldset>
				<label>店铺Logo：</label>
				<input type='file' name='logo' class='normal'  />
				{if:$this->sellerRow['logo']}
						<img src="{webroot:$this->sellerRow['logo']}" style="width:220px;" />
				{/if} 
			</fieldset>
			<fieldset>
				<label>店铺模板：</label>
				<span style="color:red">暂未显示</span>
				 
			</fieldset>

			<fieldset>
				<label>客服QQ号码：</label>
				<a class="blue" href="javascript:add_qq();">添加幻QQ联系人</a>
				<span>
					<ul id="qq" style="padding-left:20px">
						{foreach:items = $this->sellerRow['server_num']}
						<li>{$item}<input type="hidden" name="server_nums[]" value="{$item}" />
							<a class="orange" href="javascript:void(0)" onclick="$(this).parents('li').remove();"><img src="/views/sysdefault/skin/green/images/admin/sign_cacel.png" title="删除" alt="删除"></a>
						</li>
						{/foreach}
					</ul>
				</span>
				
			</fieldset>
		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>

<script language="javascript">
//添加幻灯片
function select_ico()
{
	{set:$callback = urlencode(IUrl::creatUrl('/seller/banner_upload'))}
	art.dialog.open('{url:/block/banner_upload?callback=$callback}',
	{
		'id':'user_ico',
		'title':'添加banner',
		'ok':function(iframeWin, topWin)
		{
			iframeWin.document.forms[0].submit();
			return false;
		}
	});
}

//添加QQ
function add_qq()
{
	art.dialog.prompt('添加幻QQ联系人',function(qq){
		if(!qq)
		{
			alert('请填写QQ');
			return;
		}
		var html = '<li>'+qq+'<input type="hidden" name="server_nums[]" value="'+qq+'"></li>';
		$("#qq").append(html);

	})
}
var formObj = new Form('sellerForm');
formObj.init({echo:JSON::encode($this->sellerRow)});


function defaultImage(_self)
{
	$('#thumbnails img[name="picThumb"]').removeClass('current');
	$(_self).addClass('current');
}
function callback_banner(content){
	var content = eval(content);
	if(content.isError == true)
	{
		alert(content.message);
	}
	else
	{
		var html  = '<div style="float:left"><div><span class="pic"><input type="hidden" name="slide_name[]" value="'+content.name+'" /><input type="hidden" name="slide_url[]" value="'+content.url+'" /><input type="hidden" name="slide_img[]" value="'+content.img+'" /><img name="picThumb" onclick="defaultImage(this);" style="margin:5px; opacity:1;width:100px;height:100px" src="{webroot:}'+content.img+'" alt="{webroot:}'+content.img+'"></span></div></div>';

		$('#thumbnails').append(html);
	}
	art.dialog({id:'user_ico'}).close();
}

</script>