<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>密码管理</span></label>
	</div>
	<div class="form_content">
		<div class="uc_title2 m_10"><span class="f_r">带<b class="red">*</b>号的项目为必填项</span><strong>修改密码</strong></div>
		<form action='{url:/ucenter/password_edit}' method='post'>
			<table class="form_table" cellpadding="0" cellspacing="0">
				<col width="200px" />
				<col />
				<tr>
					<th><span class="red">*</span>验证码：</th>
					<td>
						<input class='gray_s' type='text'  style="width:140px" name='mobile_code' pattern='^\w{4,6}$' />
						<input onclick="_sendMobileCode(this);" type="button" value="获取验证码" style="line-height:20px;background-color:#fff;color:#000;width:90px; ">
						<label>填写验证码</label>
						<input type="hidden" name="user_id" value="{$this->user['user_id']}">
					</td>

				</tr>
				<tr>
					<th><span class="red">*</span>新密码：</th><td><input type='password' class="normal" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='repassword' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
				</tr>
				<tr>
					<th><span class="red">*</span>重复新密码：</th><td><input type='password' class="normal" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
				</tr>
				<tr>
					<th></th>
					<td>
						<label class="btn"><input type="submit" value="修改密码" /></label>
						<label class="btn"><input type="reset" value="取消" /></label>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script type="text/javascript">
//注册校验码
function _sendMobileCode(_self)
{
	$(_self).prop("disabled",true);
	var user_id =  $('[name="user_id"]').val();
	$.get("/index.php?controller=simple&action=send_message_mobile_repasswd",{"user_id":user_id},function(content)
	{
		if(content)
		{
			alert(content);
			$(_self).prop("disabled",false);
		}
		else
		{
			times = 60;
			timerHandle = setInterval(function(){
				times--;
				$(_self).val(times + "秒后再次发送");
				if(times <= 0)
				{
					$(_self).prop("disabled",false);
					$(_self).val("获取验证码");
					clearInterval(timerHandle);
					times = 60;
				}
			},1000);
		}
	});
}
</script>